:root {
    /* ### Primary */

--Gradient: linear-gradient(to right, hsl(6, 100%, 80%) 30%, hsl(335, 100%, 65%) 70%);

/* ### Neutral */

--Blue-200: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);

--White: hsl(0, 0%, 100%);

/* ## Typography */

/* ### Body Copy */

--Font_size: 14px;
}

* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif
}

h1, h2, h3, h4 {
    margin: 0;
}

.main-box img,
.used-indicator,
.read-circle {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--White);
    background: var(--Blue-950);
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
}

.main-box {
    display: flex;
    flex-direction: column;
    background: var(--Blue-850);
    padding: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 31.25rem;
    border-radius: 0.6rem 5rem 0.6rem 0.6rem;
}

.logo {
    width: 45%;
    max-width: 8.75rem;
    margin: 0.5rem 0 2rem;
}

.main-box .icon-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.main-box .icon-group .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Blue-950);
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
}

.main-box .icon-group .icons img {
    margin: 0;
}

/* Second box CSS */

.details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: var(--Blue-850);
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
    max-width: 31.25rem;
}

.details-box h4 {
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
.details-box h4 span {
    font-weight: 600;
}

.storage-indicator {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1.1rem;
    width: 100%;
    background: var(--Blue-950);
    border-radius: 0.5rem;
}

.used-indicator {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 0.8rem;
    width: 81.5%;
    margin-left: 0.2rem;
    background: var(--Gradient);
    border-radius: 0.5rem;
}

.read-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.2rem;
    background: var(--White);
    border-radius: 0.5rem;
}

.stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem 0;
    justify-content: space-between;
}


.float-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--White);
    padding: 1rem;
    color: var(--Blue-950);
    border-radius: 0.5rem;
    bottom: -2rem;
}

.float-stat h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1rem 0 0.5rem;
    color: var(--Grayish-Blue);
}

.stats h3 {
    font-size: 0.8rem;
    font-weight: 400;
}

@media screen and (min-width: 64rem) {
    body {
        background-image: url(images/bg-desktop.png);
        background-size: contain;
        background-position: bottom;

    }
    main {
        flex-direction: row;
        gap: 2rem;
    }

    .main-box {
        margin-bottom: 6.5rem;
        width: 20%;
    }

    .details-box {
        margin-bottom: 4rem;
    }

    .details-box h4 {
        width: 100%;
    }

    .float-stat {
        top: -2rem;
        bottom: 8rem;
        right: 2.2rem;
    }

    .float-stat::before {
        position: absolute;
        content: '';
        height: 1.5rem;
        width: 1.5rem;
        background: var(--White);
        right: 0;
        bottom: -1rem;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }

    .float-stat h3 {
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }
}